.formContainer{
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 15px;
    background-color: white;
    @media (min-width: 768px){
        padding: 40px;
    }
}
.formBanner{
    padding: 15px;
    color: white;
    background-color: rgb(109, 78, 150);
    border-radius: 5px;
}
.formFieldsWrapper{
    display: flex;
    flex-direction: column; 
}
.formButton{
    margin-top: 10px;
    padding: 10px;
    color: white;
    background-color: hsl(154, 59%, 51%);
    border-color: rgb(30, 238, 30);
    border-radius: 5px;
}
.formButton:hover{
        background-color: rgb(65, 218, 124);
}