.formContainer{
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 15px;
    background-color: white;
}
.formBanner{
    padding: 15px;
    color: white;
    background-color: rgb(109, 78, 150);
    border-radius: 5px;
}
.formFieldsWrapper{
    display: flex;
    flex-direction: column; 
}
.formField{
}
.formButton{
    margin-top: 10px;
    padding: 10px;
    color: white;
    background-color: rgb(65, 218, 124);
    border-color: rgb(30, 238, 30);
    border-radius: 5px;
}